
.bodytoppic{

    padding: 0 30px;
}


  .slider {
    float: left;
   
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .item {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.439);
    border-radius: 19px;
    border: 2px solid rgba(124, 124, 124, 0.352);
  }
  
  .active {
    display: block;
  }
  .buttontoppic{
    margin-left: 10px;

    width: 20%;
    aspect-ratio: 7/3;
    background-color: rgba(0, 0, 0, 0.536);
    align-items: center;
    justify-content:center;
padding: 10px px;
    font-size: 20px;
    border-radius: 19px;
    color: rgb(234, 220, 245);
    transition: 0.5s;

    border: 0.2px solid rgba(124, 124, 124, 0.307);

  }
  

  .buttontoppic:hover{

    color: aliceblue;
    text-decoration: none;
    background-color: rgba(73, 42, 78, 0.581);
cursor: pointer;
  }
