
.table-container {
  margin-top: 20px;
}

.topic-table {
  width: 100%;
  border-collapse: collapse;
}

.topic-table th, .topic-table td {
  border: 1px solid #9f9f9f;
  padding: 8px;
  text-align: left;
  background-color: #2f0e36;
}

.topic-table th {
  background-color: #341639;
}
