
.table-container {
  margin-top: 20px;
}

.topic-table {
  width: 100%;
  border-collapse: collapse;
}

.topic-table th, .topic-table td {
  border: 1px solid #dbd0e6;
  padding: 8px;
  text-align: left;
  background-color: #bababa;
}

.topic-table th {
  background-color: #8c8c8c;
}
